{% extends "cdp_db_site_app/base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'index_style.css' %}">
    <link rel="stylesheet" href="{% static 'group_style.css' %}">

    {#    Upper disc carousel    #}
    {% include 'cdp_db_site_app/components/disc_carousel.html' %}

    {#    Group view    #}
    <div id="group-container" style="background-color: {{ group.color }}">
        <a href="/{{ current_disc.position }}"><button class="group-button">&larr; CLEAR FILTER</button></a>
        <h2 id="group-subtitle">{{ group_length }} discs in group</h2>
        <h1 id="group-title">{{ group.title }}</h1>
        <a href="/group/{{ group.id }}/edit"><button id="edit-group-button" class="group-button">~ EDIT</button></a>
        <a href="/groups/remove/{{ group.id }}"><button id="delete-group-button" class="group-button">&times; DELETE</button></a>
    </div>

    {# Disc info #}
    <div id="info-container">
        <div id="text-panel">
            <h2 id="text-title">Title: {{ current_disc.title }}</h2>
            <h2 id="text-group">Group:
                <button class="group-button" style="background-color: {{ current_disc.group.color }}"> {{ current_disc.group.title }}</button>
            </h2>
            <h2 id="text-discnum">Disc #: {{ current_disc.position }}</h2>
        </div>
        <div id="button-panel">
            <a href="http://homeassistant.local:8123/api/webhook/-Dp_9pD0fw2dov-siOsUtwiPi?disc={{ current_disc.position }}">
                <button>RETRIEVE</button>
            </a>
            <a href="/edit/{{ current_disc.position }}"><button>EDIT</button></a>
            <a href="/discs/remove/{{ current_disc.position }}"><button>DELETE</button></a>
        </div>
        <div id="big-image">
            <img src="{{ current_disc.image }}">
        </div>
    </div>

{% endblock %}