{% extends "cdp_db_site_app/base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'index_style.css' %}">

    {#    Upper disc carousel    #}
    {% include 'cdp_db_site_app/components/disc_carousel.html' %}

    {#    Group tab bar    #}
    <div id="group-container">
        <h2>Group:</h2>
        <div id="group-list">
            {% for group in groups %}
                <a href="/group/{{ group.id }}/disc/{{ current_disc.position }}">
                    <button class="group-button" style="background-color: {{ group.color }}">{{ group.title }}</button>
                </a>
            {% endfor %}
        </div>
        <a href="/group/add"><button id="new-group-button" class="group-button">+ NEW</button></a>
    </div>

    {#    Disc info container     #}
    <div id="info-container">
        <div id="text-panel">
            {% if current_disc.title == "_" %}
                <h2 id="text-title">There is no disc in slot #{{ current_disc.position }}</h2>
            {% else %}
                <h2 id="text-title">Title: {{ current_disc.title }}</h2>
                <h2 id="text-group">Group:
                    {% if current_disc.group == None %}
                        NO GROUP
                    {% else %}
                        <a href="/group/{{ current_disc.group.id }}/disc/{{ current_disc.position }}">
                            <button class="group-button" style="background-color: {{ current_disc.group.color }}"> {{ current_disc.group.title }}</button>
                        </a>
                    {% endif %}
                </h2>
                <h2 id="text-discnum">Disc #: {{ current_disc.position }}</h2>
            {% endif %}
        </div>
        <div id="button-panel">
            {% if current_disc.title != "_" %}
                <a href="http://homeassistant.local:8123/api/webhook/-Dp_9pD0fw2dov-siOsUtwiPi?disc={{ current_disc.position }}">
                    <button>RETRIEVE</button>
                </a>
            {% endif %}
            <a href="/edit/{{ current_disc.position }}"><button>{% if current_disc.title != "_" %}EDIT{% else %}ADD{% endif %}</button></a>
            {% if current_disc.title != "_" %}
                <a href="/discs/remove/{{ current_disc.position }}"><button>DELETE</button></a>
            {% endif %}
        </div>
        <div id="big-image">
            <img src="{{ current_disc.image }}">
        </div>
    </div>
{% endblock %}